{
  "GmailReaderFunction": {
    "GMAIL_OAUTH_SECRET_ARN": "<arn-do-segredo>",
    "SENDER_EMAIL": "logincaixa@caixa.gov.br",
    "SUBJECT_FILTER": "Código de Validação",
    "ACTIVATION_CODE_REGEX": "Código de ativação: \\d+",
    "WAIT_TIMEOUT_SECONDS": "15"
  }
}